{% extends 'core/base.html' %}
{% load humanize %}
{% block title %}{{feed.title}}{% endblock %}

{% block content %}
<div class="border-bottom">
    <h1>{{feed.title}}</h1>
    <h3 class="mb-2">{{feed.description}}</h3>
    <p class="mb-1">
        Created {{feed.created_at|naturalday}} by
        <a href="/user/{{feed.author.username}}">{{feed.author.username}}</a>.
    </p>
</div>

{% if user == feed.author %}
<a href="/edit_feed/{{feed.id}}" class="btn btn-primary my-3" role="button">Edit publications</a>
{% endif %}

{% if user == feed.author %}
<a href="{% url 'delete_feed' id=feed.id %}" class="btn btn-danger mx-3" role="button">Delete</a>
{% endif %}

{% if user.is_authenticated %}
<a href="{% url 'edit_sub' id=feed.id %}" class="btn btn-primary mr-3" role="button">
    {% if subd %}Unsubscribe{% else %}Subscribe{% endif %}</a>
{% endif %}

<ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
            role="tab" aria-controls="home-tab-pane" aria-selected="true">
            Publications <span class="badge text-bg-info">{{pubs|length}}</span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
            role="tab" aria-controls="profile-tab-pane" aria-selected="false">
            Subscriptions <span class="badge text-bg-info">{{subs|length}}</span>
        </button>
    </li>
</ul>
<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <ul class="list-group">
            {% for pub in pubs %}
            <a href="/pub/{{pub.id}}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{pub.title}}</h5>
                    <small>
                        {{pub.num_feeds}} feed{% if pub.num_feeds != 1 %}s{% endif %}
                    </small>
                </div>
                <p class="mb-1">{{pub.pub_url}}</p>
                <p class="mb-1">{{pub.rss_url}}</p>
                <small>
                    Created {{pub.created_at|naturalday}}
                </small>
            </a>
            {% empty %}
            <p>No pubs yet</p>
            {% endfor %}
        </ul>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <ul class="list-group">
            {% for sub in subs %}
            <a href="/user/{{sub.username}}" class="list-group-item list-group-item-action">
                {{sub.username}}
            </a>
            {% empty %}
            <p>No subs yet</p>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}