<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>{% block title %}My Site{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/feeds">Feeds</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="/user/{{user.username}}">Profile</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <span class="navbar-text">Logged in as {{user.username}} | </span>
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link active" href="/admin">Admin</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/register">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container my-3">
    {% block content %} {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  {% block script %} {% endblock %}
</body>

</html>